body{
    background-color: black;
}

span{
    text-decoration: underline white;
}

.pretty_me{
    width: 50%;
    height: 50%;
    margin: auto auto ;
    border: thick double #ffffff;
    
}

.pic{
    height: 50%;
    width:100%;
}

h1{
    color: #ffffff;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
}

h3{
    color: #ffffff;
    text-align: center;
}
